body{
    margin: 0 0 0 0;
    overflow: hidden;
}

#frame{
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    width: 100vw;
    height: 87vh;
}

#weekly-bar{
    height: 87vh;
    width: calc(15vw - 5px);
    background-color: #84BF69;
    overflow-y: auto;
    border-right: 5px solid darkolivegreen;
    }

.week-log{
    width: 12.5vw;
    border: 0;
    background-color: seagreen;
    color: white;
    font: bold 16px 'Chalkduster', fantasy ,Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    transition: background-color 1s ease, all .1s linear;
    box-shadow: 0 5px 0 darkgreen;
}

.week-log:active{
    box-shadow: 0 2px 0 darkolivegreen;
    transform:translateY(3px);
}

.week-log:hover{
    background-color: seagreen;
}

#main-screen{
    height: 87vh;
    width: 85vw;
    background-color: antiquewhite;
    position: relative;
}

#daily-view-container{
    background-color: blueviolet;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    height: inherit;
    border-radius: 0 4px 4px 0;
}


.day {
    /* background-color: green; */
    flex: 10;
    color: dimgrey;
    font: bold 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 250px;
    text-align: center;
    overflow-y: auto;
    white-space: nowrap;
}

/* #daily-view-container .outer-day:nth-child(even){
    background: #f0f0f2;
} */

.day, .outer-day{
    background-color: #d8f6b4;
}


.outer-day{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    color: #35580d;
    /*text-decoration: underline;*/
    /* background-color: green; */
    font: bold 30px 'Chalkduster', fantasy, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;

}

.log{
    border: 4px double #FFF06E;
    border-radius: 20px;
    background-color: #FFF06E; /*#A2D2FF*/
    width: 240px;
    font-size: 14px;
    color: seagreen;
    white-space: pre-wrap;
    margin-bottom: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 2px dashed #ccc;
    border-radius: 30%;
    text-align: center;
    background-color: #84BF69;
    color: white;
    position: absolute;
    bottom: 5vh;
    right: 3vw;
    transition: border-radius 1s ease, background-color 1s ease;
}

.custom-file-upload:hover{
    border-radius: 50%;
    background-color: darkgreen;
}

.custom-file-upload input {
    display: none;
}



#drawerContainer {
    position: fixed;
    top: 26%;
    height: 450px;
    right: -500px; /* Start off-screen on the right */
    width: 500px;
    background-color: #84BF69;
    color: #fff;
    transition: right 0.6s ease;
}

#drawerContent {
    padding: 20px;
}

#openDrawerButton {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #84BF69;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    position: fixed;
    top: 55%;
    right: -65px;
    transform: translateY(-50%) rotate(-90deg); /* Combine transformations */
    transition: right 0.6s ease;
}


:root{
    --top-bar-color: #9cd65b;
    --background-color: #18E101;

}
.menu{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: var(--top-bar-color);
    border-bottom: 5px solid darkolivegreen;
}
.menu li{
    list-style: none;
    
}
.menu ul{
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: 100px;
    font: bold 30px 'Chalkduster', fantasy;
}

.menu a{
        color: #35580d;
    }


#logo{
    width: 100px;
    height: auto;
}

