body{
    margin: 0 0 0 0;
    overflow: hidden;
}

#frame{
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    width: 100vw;
    height: 87vh;
}

#weekly-bar{
    height: 87vh;
    width: 15vw;
    background-color: aquamarine;
    overflow-y: auto;
}

.week-log{
    border: 0;
    background-color: lightseagreen;
    color: lightgray;
    font: bold 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    transition: background-color 1s ease, all .1s linear;
    box-shadow: 0 5px 0 darkgreen;
}

.week-log:active{
    box-shadow: 0 2px 0 darkolivegreen;
    transform:translateY(3px);
}

.week-log:hover{
    background-color: seagreen;
}

#main-screen{
    height: 87vh;
    width: 85vw;
    background-color: antiquewhite;
    position: relative;
}

#daily-view-container{
    background-color: blueviolet;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    height: inherit;
}

.day {
    background-color: lightskyblue;
    flex: 10;
    color: lightgray;
    font: bold 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 250px;
    text-align: center;
    overflow-y: auto;
    white-space: nowrap;
}

.outer-day{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    color: white;
    text-decoration: underline;
    background-color: lightskyblue;
    font: bold 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.log{
    border: 4px double dodgerblue;
    border-radius: 20px;
    background-color: dodgerblue;
    width: 210px;
    font-size: 14px;
    white-space: pre-wrap;
    margin-bottom: 20px;
    box-shadow: 3px 7px 3px midnightblue;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 2px dashed #ccc;
    border-radius: 30%;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    position: absolute;
    bottom: 5vh;
    right: 3vw;
    transition: border-radius 1s ease, background-color 1s ease;
}

.custom-file-upload:hover{
    border-radius: 50%;
    background-color: darkgreen;
}

.custom-file-upload input {
    display: none;
}



#drawerContainer {
    position: fixed;
    top: 26%;
    height: 450px;
    right: -500px; /* Start off-screen on the right */
    width: 500px;
    background-color: #3498db;
    color: #fff;
    transition: right 0.6s ease;
}

#drawerContent {
    padding: 20px;
}

#openDrawerButton {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    position: fixed;
    top: 55%;
    right: -65px;
    transform: translateY(-50%) rotate(-90deg); /* Combine transformations */
    transition: right 0.6s ease;
}


:root{
    --top-bar-color: #e0efb8;
    --background-color: #f7feee;

}
.menu{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: var(--top-bar-color)
    
}
.menu li{
    list-style: none;
    
}
.menu ul{
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: 100px;
    font-size: 20px;
}

#logo{
    width: 100px;
    height: auto;
}