    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url('./assets/images/background-login.jpg')
    }

    form {
        background-color: #fff;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 20px -20px 10px 0px rgba(0, 0, 0, 0.5)
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 25px;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 7px 0 lightgreen;
        transition: all .1s linear;
    }

    button:active {
        box-shadow: 0 2px 0 black;
        transform: translateY(3px);
    }

    p{
        font-size: 20px;
    }


    /* section{
        position: absolute;
    } */
    /* img {
        width:50px;
        height:50px;
        margin: -350px 1450px 0px 10px;
        float: left;

    } */

